<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{channel.username}} - Open360</title>
    <link rel="stylesheet" href="/public/styles/master.css">
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/public/favicon.png"/>
</head>
<body>
{% include "includes/header.html" %}
<div class="channel-content content depends-on-sidebar depends-on-header">
    {% include "includes/sidebar.html" %}
    <div class="media-and-chat">
        {% if online %}
        <div class="media" >
            <video id='hls-stream' class="stream-video video-js vjs-default-skin" width="854" height="480" controls>
                <source src="{{message}}" type="application/x-mpegURL">
            </video>
        </div>
        {% else %}
        <div class="media">
            <p>This channel is currently not streaming.</p>
        </div>
        {% endif %}
        <div class="chat">
            <div class="chat-details">
                <h1>STREAM CHAT</h1>
            </div>
            <div class="messages"></div>
            <div class="message-box">
                {% if user %}
                <a class="message-box-autoscroll" href="#" onclick="return false;">turn auto-scroll on</a>
                <input class="message-box-text-input" type="text" placeholder="message...">
                <a class="message-box-send" href="#" onclick="return false;">Send</a>
                {% else %}
                <p>You need to be logged in to message in {{channelUsername}}'s chat</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="channel-details">
        <div class="channel">
            <h1>{{channel.title}}</h1>
            <h2>{{channel.description}}</h2>
            <h3>{{channel.directory}}</h3>
            <ul class="tag-list">
                {% for tag in channel.tags %}
                <li class="tag">{{tag}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="/public/javascript/feature-chat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.js"></script>
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
<script>
    //{% if online %}
    let player = videojs('hls-stream');
    player.play();
    //{% endif %}

    createLogElement("Connecting to the chat room of " + "{{channelUsername}}");
    //{% if user %}
    let socket = io.connect("192.168.1.160:4002", {query: "channel={{channelUsername}}&user={{user.displayName}}"});
    //{% else %}
    let socket = io.connect("192.168.1.160:4002", {query: "channel={{channelUsername}}"});
    //{% endif %}
    socket.on("connect", () => {
        createLogElement("Connected!");
    });

    socket.on("error", (err) => {
        createLogElement("Disconnected from the chat room");
    });

    socket.on("chat-message", (data) => {
        createMessage(data.message, data.user, data.colour);
    });
    //{% if user %}
    document.querySelector(".message-box .message-box-send").addEventListener("mouseup", e => {
        sendMessage();
    });
    document.querySelector(".message-box .message-box-text-input").addEventListener("keyup", e => {
        if (e.key.toString() === "Enter")
            sendMessage();
    });
    //{% endif %}
</script>
</body>
</html>