<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{channel.username}} - Open360</title>
    <link rel="stylesheet" href="/public/styles/master.css">
</head>
<body>
{% include "includes/header.html" %}
<div class="channel-content depends-on-sidebar">
    {% include "includes/sidebar.html" %}
    <div class="media-and-chat">
        <div class="media"></div>
        <div class="chat">
            <div class="chat-details">
                <h1>STREAM CHAT</h1>
            </div>
            <div class="messages"></div>
            <div class="message-box">
                {% if user %}
                <a class="message-box-autoscroll" href="#" onclick="return false;">turn auto-scroll on</a>
                <input class="message-box-text-input" type="text" placeholder="message...">
                <a class="message-box-send" href="#" onclick="return false;">Send</a>
                {% else %}
                <p>You need to be logged in to message in {{channel.username}}'s chat</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="channel-details">
        <div class="channel">
            <h1>{{channel.title}}</h1>
            <h2>{{channel.description}}</h2>
            <ul class="tag-list">
                {% for tag in channel.tags %}
                <li class="tag">{{tag.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="/public/javascript/feature-chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script>
    createLogElement("Connecting to the chat room of " + "{{channel.username}}");
    //{% if user %}
    let socket = io.connect("192.168.1.160:4002", {query: "channel={{channel.username}}&user={{user.displayName}}"});
    //{% else %}
    let socket = io.connect("192.168.1.160:4002", {query: "channel={{channel.username}}"});
    //{% endif %}
    socket.on("connect", () => {
        createLogElement("Connected!");
    });

    socket.on("error", (err) => {
        createLogElement("Disconnected from the chat room");
    });

    socket.on("chat-message", (data) => {
        createMessage(data.message, data.user, data.colour);
    });
    //{% if user %}
    document.querySelector(".message-box .message-box-send").addEventListener("mouseup", e => {
        sendMessage();
    });
    document.querySelector(".message-box .message-box-text-input").addEventListener("keyup", e => {
        if (e.key.toString() === "Enter")
            sendMessage();
    });
    //{% endif %}
</script>
</body>
</html>