<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/public/styles/master.css">
</head>

<body>
    {% include "includes/header.html" %}
    <div class="home-content">
        <div class="following-list">

        </div>
        <div class="featured">
            <div class="channels-featured"></div>
            <div class="channels-user-recommended"></div>
            <div class="channels-directory-recommended"></div>
            <div class="channels-tags-recommended"></div>
            {% include "includes/footer.html" %}
        </div>
    </div>
    <script src="/public/javascript/feature-users.js"></script>
    <script src="/public/javascript/feature-home-channels.js"></script>
    <script type="text/javascript">
        requestAndCreateChannelElements().then((featuredChannels) => {
            console.log(featuredChannels);
        }).catch(err => {
            console.error(err);
        });
    </script>
</body>

</html>
