<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/public/styles/master.css">
</head>

<body>
    {% include "includes/header.html" %}
    <h1>Home</h1>
    <div class="channels-featured"></div>
    <script src="/public/javascript/feature-users.js"></script>
    <script src="/public/javascript/feature-home-channels.js"></script>
    <script type="text/javascript">
        requestAndCreateChannelElements().then((featuredChannels) => {
            console.log(featuredChannels);
        }).catch(err => {
            console.error(err);
        });
    </script>
</body>

</html>
