<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" href="/public/styles/master.css">
  <link rel="shortcut icon" type="image/png" href="/public/favicon.png"/>
</head>

<body>
  <h1>Register</h1>
  <form action="/auth/register" method="post">
    <div>
      <label>Username:</label>
      <input required type="text" name="username" />
    </div>
    <div>
      <label>Password:</label>
      <input required type="password" name="password" />
    </div>
    <div>
      <label>Email:</label>
      <input required type="text" name="email"/>
    </div>
    {% if error %}
    <div>
      <p>{{error}}</p>
    </div>
    {% endif %}
    <div>
      <input type="submit" value="Register" />
    </div>
  </form>
</body>

</html>
