@import "fonts";

* {
  padding: 0;
  margin: 0;
  background: #2C2F33;
  color: white;
  font-family: "JetBrains Mono", sans-serif;
}

// HEADER

.header{
  height: 40px;
  background: #23272A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .header-home{
    font-size: 32px;
  }

  .header-profile{
    float: right;
  }
}

// HOME PAGE

.home-content{
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: (100vh);
  margin-left: 250px;
  &.side-bar-collapsed{
    margin-left: 50px;
  }
  .featured{
    margin-top: 40px;
    flex: 1 1 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.channel-container {
  padding: 6px;
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  margin: 20px;

  .channel-window{
    width: 256px;
    height: 144px;
    display: block;
    background: #23272A;
  }

  .channel-title{
    font-size: 32px;
  }

  .channel-tag-list{
    .channel-tag{
      padding: 6px;
      border-radius: 6px;
      background: #2C2F33;
    }
  }

  .channel-user{
    text-decoration: none;
    display: flex;
    align-items: center;

    .channel-user-pic{
      width: 32px;
      height: 32px;
      margin: 8px 2px;
      border-radius: 50%;
      display: inline-block;
      background: whitesmoke;
    }
    .channel-user-name{
      font-size: 18px;
      margin: 2px 2px;
      display: inline-block;
    }
  }
}

// CHANNEL PAGES

.channel-content{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 250px;
  &.side-bar-collapsed{
    margin-left: 50px;
  }
}

.media-and-chat{
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.media{
  background: black;
  flex: 1 1 720px;
}

.chat{
  flex: 0 1 400px;
  background: #23272A;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.messages{
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  line-break: anywhere;
}

.log-message{
  color: lightgrey;
  font-size: 12px;
  text-align: center;
}

.chat-message{
  margin: 6px 6px 2px 6px;

  .chat-message-user{
    margin-right: 2px;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;

    &::after{
      content: ":";
    }

    &:hover{
      background: #23272A;
    }
  }

  .chat-message-text{
    padding: 2px;
    img{
      height: 32px;
      display: inline;
    }
  }
}

.message-box{
  flex: 0 1 40px;
  display: flex;
  flex-direction: row;
  position: relative;

  *{
    margin: 2px;
  }

  .message-box-autoscroll {
    width: 40%;
    position: absolute;
    top: -40px;
    margin: 10px 28%;
    padding: 1%;
    border-radius: 8px;
    background: #23272A60;
    border: whitesmoke 1px solid;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
  }

  .message-box-text-input {
    flex: 1 1 80px;
    border-radius: 6px;
    border: 1px solid whitesmoke;
    padding: 5px;
    background: black;
    color: whitesmoke;
  }

  .message-box-send {
    flex: 1 1 0;
    border-radius: 6px;
    padding: 6px;
    background: wheat;
    color: #23272A;
    text-decoration: none;
    text-align: center;
  }
}

// SIDEBAR

.sidebar{
  width: 250px;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  &.side-bar-collapsed{
    width: 50px;
  }
}

// POP CARDS

.pop-card {
  padding: 2px;
  background: lightgrey;
}

.pop-card{
  .pop-card-username{
    color: whitesmoke;
    font-size: 8px;
  }
  .pop-card-displayName{
    font-weight: bold;
  }
}