@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  background: #2C2F33;
  color: white;
  font-family: "JetBrains Mono", sans-serif;
}

.header {
  height: 40px;
  background: #23272A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header .header-home {
  font-size: 32px;
}
.header .header-profile {
  float: right;
}

.home-content {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  height: 100vh;
}
.home-content .following-list {
  width: 250px;
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.home-content .featured {
  margin-left: 250px;
  margin-top: 40px;
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.channel-container {
  padding: 6px;
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  margin: 20px;
}
.channel-container .channel-window {
  width: 256px;
  height: 144px;
  display: block;
  background: #23272A;
}
.channel-container .channel-title {
  font-size: 32px;
}
.channel-container .channel-tag-list .channel-tag {
  padding: 6px;
  border-radius: 6px;
  background: #2C2F33;
}
.channel-container .channel-user {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.channel-container .channel-user .channel-user-pic {
  width: 32px;
  height: 32px;
  margin: 8px 2px;
  border-radius: 50%;
  display: inline-block;
  background: whitesmoke;
}
.channel-container .channel-user .channel-user-name {
  font-size: 18px;
  margin: 2px 2px;
  display: inline-block;
}

.channel-content {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.media {
  width: 1024px;
  background: black;
  flex: 1 1 0;
}

.chat {
  flex: 0 1 400px;
  background: #23272A;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.messages {
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  line-break: anywhere;
}

.log-message {
  color: lightgrey;
  font-size: 12px;
  text-align: center;
}

.chat-message {
  margin: 6px 6px 2px 6px;
}
.chat-message .chat-message-user {
  margin-right: 2px;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.chat-message .chat-message-user::after {
  content: ":";
}
.chat-message .chat-message-user:hover {
  background: #23272A;
}
.chat-message .chat-message-text {
  padding: 2px;
}
.chat-message .chat-message-text img {
  height: 32px;
  display: inline;
}

.message-box {
  flex: 0 1 40px;
  display: flex;
  flex-direction: row;
}
.message-box * {
  margin: 2px;
}
.message-box input {
  flex: 1 1 80px;
  border-radius: 6px;
  border: 1px solid whitesmoke;
  padding: 5px;
  background: black;
  color: whitesmoke;
}
.message-box a {
  flex: 1 1 0;
  border-radius: 6px;
  padding: 6px;
  background: wheat;
  color: #23272A;
  text-decoration: none;
  text-align: center;
}

.pop-card {
  padding: 2px;
  background: lightgrey;
}

.pop-card .pop-card-username {
  color: whitesmoke;
  font-size: 8px;
}
.pop-card .pop-card-displayName {
  font-weight: bold;
}

/*# sourceMappingURL=master.css.map */
