@import "fonts";
@import "colours";

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "JetBrains Mono", sans-serif;
}

body {
  background: $colour-not-dark;
}

// HEADER

$header-height: 50px;

.header{
  height: $header-height;
  background: $colour-dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //box-shadow: 0px 6px 6px -6px $colour-not-quite-black;
  box-shadow: transparentize($colour-not-quite-black, 0.7) 0px 1px 2px 0px,
              transparentize($colour-not-quite-black, 0.7) 0px 0px 2px 0px;

  .header-home{
    font-size: 32px;

    img {
      height: 32px;
      margin: 6px 10px;
    }
  }

  .header-profile{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;

    >*{
      margin: 2px 6px;
    }

    .header-dashboard-button{
      flex: 1 1 0;
      border-radius: 6px;
      padding: 4px;
      margin: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      * {
        flex: 1 0 0;
      }

      &:hover{
        background: $colour-greyish;
      }

      img{
        height: 20px;
        text-align: center;
      }
    }
  }
}

// SIDEBAR

$sidebar-expanded-width: 250px;
$sidebar-collapsed-width: 50px;

.sidebar{
  width: $sidebar-expanded-width;
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;

  //box-shadow: 6px 0px 6px -6px $colour-not-quite-black;
  box-shadow: transparentize($colour-not-quite-black, 0.7) 1px 0px 2px 0px,
              transparentize($colour-not-quite-black, 0.7) 0px 0px 2px 0px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;          /* "auto" or "thin"  */
  scrollbar-color: $colour-not-quite-black transparent;   /* scroll thumb & track */

  &.sidebar-collapsed{
    width: $sidebar-collapsed-width;
  }

  &.header-collapsed{
    top: 0;
  }

  // Side bar collapsed
  &.sidebar-collapsed{
    .sidebar-collapse{
      img{
        transform: scaleX(1);
      }
    }
    .sidebar-text{
      visibility: hidden;
    }
  }

  // Side bar not collapsed
  &:not(.sidebar-collapsed){
    .sidebar-collapse{
      img{
        transform: scaleX(-1);
      }
    }
    .sidebar-text{
      visibility: visible;
    }
  }

  // General sidebar styles
  .sidebar-collapse{
    align-self: flex-end;
  }
}

.small-icon {
  border-radius: 6px;
  padding: 4px;
  margin: 8px;
  display: flex;
  align-items: stretch;

  img{
    height: 20px;
    width: 20px;
    text-align: center;
    flex: 1 1 0;
    //float: right;
  }
}

.button {
  border-radius: 6px;
  padding: 4px;
  margin: 8px;
  display: flex;
  align-items: stretch;

  &:hover{
    background: $colour-greyish;
  }

  img{
    height: 20px;
    width: 20px;
    text-align: center;
    flex: 1 1 0;
    //float: right;
  }
}

// CONTENT STYLES

.content {
  margin-left: $sidebar-expanded-width;
  margin-top: $header-height;
  position: relative;
  &.sidebar-collapsed{
    margin-left: $sidebar-collapsed-width;
  }
  &.header-collapsed{
    margin-top: 0;
  }
}

// HOME PAGE

.home-content{
  display: flex;
  align-items: stretch;
  flex-direction: row;

  .featured{
    margin-top: 40px;
    flex: 1 1 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.channel-container {
  //padding: 6px;
  display: inline-block;
  //border: 1px solid whitesmoke;
  //border-radius: 6px;
  margin: 20px;
  text-decoration: none;

  .channel-details{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .channel-left{
    flex: 0 1 0;
    margin: 2px 4px 0 0;
  }

  .channel-right{
    flex: 1 1 0;
    margin: 2px 0 0 4px;
  }

  a{
    text-decoration: none;
    p,h1,h2,h3 {
      text-decoration: none;
    }
  }

  a:hover{
    color: $colour-brand;
    p,h1,h2,h3 {
      color: $colour-brand;
    }
  }

  .channel-window{
    width: 256px;
    height: 144px;
    display: block;
    background: $colour-dark;
  }

  .channel-title{
    font-size: 20px;
  }

  .channel-user{
    text-decoration: none;
    display: flex;
    align-items: center;

    .channel-user-pic{
      width: 40px;
      height: 40px;
      margin: 8px 2px;
      border-radius: 50%;
      display: inline-block;
      background: whitesmoke;
    }
    .channel-user-name{
      font-size: 18px;
      margin: 2px 2px;
      display: inline-block;
    }
  }
}

.tag-list{
  display: block;
  margin: 4px;

  .tag{
    padding: 0 6px;
    border-radius: 0 6px 6px 0;
    margin: 0 14px;
    background: white;
    color: $colour-dark;
    display: inline-block;
    transform: rotate(-2deg);
    position: relative;
    font-size: 16px;

    &::before{
      content: " ";
      height: 20px;
      width: 20px;
      background: url("/public/assets/uisheet/tag.png");
      background-size: 100% 100%;
      position: absolute;
      left: -19.5px;
    }
  }
}

// CHANNEL PAGES

.channel-content{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.media-and-chat{
  display: flex;
  flex-direction: row;
  min-height: 80vh;
}

.media{
  background: black;
  flex: 1 1 720px;
  display: flex;
  align-items: stretch;
  position: relative;

  .stream-video {
    flex: 1 1 0;
    height: 100%;
  }
}

.chat{
  flex: 0 1 400px;
  background: $colour-dark;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .chat-details{
    flex: 0 1 40px;
    h1 {
      text-align: center;
    }
  }
}

.channel-content{
  .channel-stats{
    .channel-views{
      position: relative;
      margin: 0 14px;

      &::before{
        content: " ";
        height: 20px;
        width: 20px;
        background: url("/public/assets/uisheet/peep.png");
        background-size: 100% 100%;
        position: absolute;
        left: -19.5px;
        filter: brightness(0.5) sepia(1) saturate(10000%);
      }
    }
  }
}

.messages{
  flex: 1 1 0;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  line-break: anywhere;
}

.log-message{
  color: lightgrey;
  font-size: 12px;
  text-align: center;
}

.chat-message{
  margin: 6px 6px 2px 6px;

  .chat-message-user{
    margin-right: 2px;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;

    &::after{
      content: ":";
    }

    &:hover{
      background: $colour-dark;
    }
  }

  .chat-message-text{
    padding: 2px;
    img{
      height: 32px;
      display: inline;
    }
  }
}

.message-box{
  flex: 0 1 40px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  *{
    margin: 2px;
  }

  .message-box-autoscroll {
    width: 40%;
    position: absolute;
    top: -40px;
    margin: 10px 28%;
    padding: 1%;
    border-radius: 8px;
    background: transparentize($colour-dark, 0.60);
    border: $colour-white 1px solid;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
  }

  .message-box-text-input {
    flex: 1 1 0;
    border-radius: 6px;
    border: 1px solid $colour-white;
    padding: 5px;
    background: $colour-not-quite-black;
    color: $colour-white;
  }

  .message-box-send {
    flex: 1 1 0;
    border-radius: 6px;
    padding: 6px;
    background: $colour-minty;
    color: $colour-dark;
    text-decoration: none;
    text-align: center;
    align-self: flex-end;
  }
}

// DASHBOARD AND SETTINGS PAGE

.dashboard-content{
  display: flex;
  flex-direction: column;
  align-items: stretch;

  input{
    font-size: 32px;
    padding: 6px;
    border-radius: 8px;
    background: $colour-dark;
    border: $colour-white solid 1px;
  }

  .input-stream-title{

  }

  .input-stream-description{

  }

  .input-stream-tags{

  }

  .input-stream-directory{

  }

  .input-user-displayName{

  }
}

.settings-save {
  padding: 6px;
  border-radius: 8px;
  background: $colour-white;
  color: $colour-dark;
  border: $colour-dark solid 1px;
  font-size: 32px;
  display: inline-block;

  &:hover {
    background: $colour-minty;
  }
}

// POP CARDS

.pop-card {
  padding: 2px;
  background: $colour-greyish;
}

.pop-card{
  .pop-card-username{
    color: whitesmoke;
    font-size: 8px;
  }
  .pop-card-displayName{
    font-weight: bold;
  }
}

// Footer

footer{
  display: block;
  a{
    text-align: center;
  }
}